/* exporting some fonts to use */
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
@import 'https://fonts.googleapis.com/css?family=Nanum+Pen+Script';


/**************************
GENERAL
***************************/
img {
  width: 100%;
}

a:link, a:visited {
  color: #4db5ce;
}

a:active, a:hover {
  color: #8cc600;
}

body {
  background-image: url('../assets/images/background.png');
  background-position: center center;
}

#content {
  background: rgba(0,0,0, 0.5);
}

#wrapper {
  color: white;
  font-size: 16px;

text-shadow:
  -1px -1px 0 #000,
   0   -1px 0 #000,
   1px -1px 0 #000,
   1px  0   0 #000,
   1px  1px 0 #000,
   0    1px 0 #000,
  -1px  1px 0 #000,
  -1px  0   0 #000;
}

#mainlogo {
  width: 90%;
  text-align: center;
  margin: 40% auto 0;
}

#pillars-header {
  margin-bottom: 0px;
}

.teamPicture {
  height: 300px;
  padding-bottom: 10px;
}

.container {
  max-width: 940px;
}

/**************************
HEADER
***************************/

header {
  text-align: center;
  margin: 0 0 30px 0;
  padding: 15px 0 0 0;
  width: 100%;
  background: rgba(255,255,255, 0.15);
}

/**************************
NAVIGATION
***************************/
/* creating a border around our link text */
.btn.striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}

/* styling nav links */
.btn {
  font-family: 'Bungee Shade', sans-serif;
  height: 80px;
  line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 1.0rem;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s; 
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 1;
  background-color: transparent; 
  cursor: pointer;
  width: 28.3333333%;
  height: 48px;
  line-height: 38px;
}

/* BACKGROUND stripes */
ul li.btn.striped-shadow:after, ul li.btn.striped-shadow:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #4183D7 5px,
    #4183D7 10px,
    transparent 10px
  );
}

/* SETS HEIGHT OF SIDE STRIPS TO NOT PASS THE HEIGHT OF THE CONTAINER BY 10PX */
ul li.btn.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

/* SETTING SHADOWS OF STRIPS  ON THE BUTTOM */
ul li.btn.striped-shadow:after {
  width: calc(100% - 33px);
  height: 8px;
  left: 2px;
  bottom: -18px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}

/* ALL stripe PUSH UP TRANSITION  */
ul li.btn.striped-shadow:after, ul li.btn.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

/* ON PUSH DOWN LIKED ITEM BOX  */
.btn.striped-shadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px); 
  transform: translate(-12px, 12px);
  z-index: 3;
}

/* APPLIES BEFORE AND AFTER STATES  */
ul li.btn.striped-shadow:hover:after, ul li.btn.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}

/* side  stripes olines */
ul li.btn.striped-shadow:before {
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: 0px;
  bottom: -14px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}

ul li a{
    overflow: visible;
    border: 0;
    padding: 0;
    margin: 1
}

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}


.nav>li {
  display: inline-block;
}

.navbar {
  border: 0px;
  background: rgba(255,255,255, 0);
  /* border-bottom: 2px solid #333; */
}

.navbar-default .navbar-nav>li>a {
  color: #333;
  font-size: 18px;
}

/******************
STICKY BACK-TO TOP
******************/

#top-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(70,184,218, 1);
  color: white;
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 16px rgba(0, 0, 0, 0.19);
}

#top-button:hover {
  background: rgba(140,200,0, 1);
}


/**************************
Foooter
***************************/

footer {
  padding: 30px;
  width: 100%;
  color: white;
  background: rgba(0,0,0, 0.25);
  text-align: center;
}

/**************************
MISSION STATEMENT
***************************/

p {
  font-family: 'Nanum Pen Script';
  color: #6FC900;
  font-size: 2em;
  margin: 50px 10PX 0;
}

/**************************
PILLARS
***************************/

.courses-info {
  margin-left: 10px;
}


/**************************
COLORS
***************************/

/* nav colors */
.btn.striped-shadow span {
  border-color: #4183D7;
  background: #99ffff;
  color: #6FC900;
}