/**************************
GENERAL
***************************/

a {
  color: #4db5ce;
}

body {
  background-image: url('../assets/images/background.png');
  background-position: center center;
}

#content {
  background: rgba(0,0,0, 0.55);
}

#wrapper {
  color: white;
  color: white;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#mainlogo {
  text-align: center;
  width: 80%;
}

#pillars-header {
  margin-bottom: 0px;
}

.teamPicture {
  height: 300px;
  padding-bottom: 10px;
}

.container {
  max-width: 940px;
}

/**************************
HEADER
***************************/

header {
  text-align: center;
  margin: 0 0 30px 0;
  padding: 15px 0 0 0;
  width: 100%;
  background: rgba(255,255,255, 0.7);
}

/**************************
NAVIGATION
***************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}


.nav>li {
  display: inline-block;
}

.navbar {
  border: 0px;
  background: rgba(255,255,255, 0);
  /* border-bottom: 2px solid #333; */
}

.navbar-default .navbar-nav>li>a {
  color: #333;
  font-size: 18px;
}

/**************************
Foooter
***************************/

footer {
  padding: 30px;
  width: 100%;
  background: rgba(255,255,255, 0.7);
  /* border-top: 1px solid #e7e7e7; */
  text-align: center;
}

/**************************
PILLARS
***************************/

.courses-info {
  margin-left: 10px;
}
