@media screen and (min-width: 480px) {
/* tablet */
.btn {
    font-size: 2.1rem;
    width: 27.333333%;
}

#mainlogo {
    width: 80%;
    text-align: center;
    margin: 30% auto 0 ;
  } 
  #pillars{
    border: .5px hidden;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 2px;
    font-size: 14px;
  }

}

@media screen and (min-width: 660px) {
/* desktop */

    .btn {
        font-size: 2.1rem;
        width: 27.333333%;
    }
    .container-fluid {
        margin-right: none;
        margin-left: none;
        display: inline-block;
    }

    #mainlogo {
        width: 60%;
        text-align: center;
        margin: 20% auto 0;
      } 
      #pillars{
        border: .5px hidden;
        margin: auto;
        height: 100%;
        width: 100%;
        padding: 2px;
        font-size: 16px;
      }
}

@media screen and (min-width: 940px) {
    /* desktop */
        .container-fluid {
            margin-right: none;
            margin-left: none;
            display: inline-block;
        }
    
        #mainlogo {
            width: 50%;
            text-align: center;
            margin: 10% 0 0 0;
          } 
          #pillars{
            border: .5px hidden;
            margin: auto;
            height: 100%;
            width: 100%;
            padding: 2px;
            font-size: 18px;
          }
    }
