@media screen and (min-width: 480px) {
/* tablet */
.btn {
    font-size: 2.1rem;
    width: 27.333333%;
}

#mainlogo {
    width: 80%;
    text-align: center;
    margin: 30% auto 0 ;
  }

}

/*



























*/

@media screen and (min-width: 660px) {
/* desktop */

    .btn {
      font-size: 2.1rem;
      width: 27.333333%;
    }
    .container-fluid {
      margin-right: none;
      margin-left: none;
      display: inline-block;
    }

    #mainlogo {
      width: 60%;
      text-align: center;
      margin: 20% auto 0;
    }

    /* Fix nav button width for desktop */
    nav span {
      width: 150px;
      margin-right: 50px;
    }

    a:active, a:hover {
      color: #8cc600;
    }

    /* Bootstrap col-xs-6 */
    #CEO, #COO {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 50%;
      padding-bottom: 40px;
    }
}

@media screen and (min-width: 940px) {
  /* desktop */
  .container-fluid {
      margin-right: none;
      margin-left: none;
      display: inline-block;
  }

  #mainlogo {
      width: 50%;
      text-align: center;
      margin: 10% 0 0 0;
    }

  #ourmission {
    padding-left: 200px;
    padding-right: 200px;
  }

    /****************
    DESKTOP BUTTONS
    ****************/

    /* BACKGROUND stripes */
    ul li.btn.striped-shadow:after, ul li.btn.striped-shadow:before {
      background-image: linear-gradient(
        135deg,
        transparent 0,
        transparent 5px,
        #4183D7 5px,
        #4183D7 10px,
        transparent 10px
      );
    }

    /* SETS HEIGHT OF SIDE STRIPS TO NOT PASS THE HEIGHT OF THE CONTAINER BY 10PX */
    ul li.btn.striped-shadow:hover:before {
      max-height: calc(100% - 10px);
    }

    /* SETTING SHADOWS OF STRIPS  ON THE BUTTOM */
    ul li.btn.striped-shadow:after {
      width: calc(100% - 33px);
      height: 8px;
      left: 2px;
      bottom: -18px;
      background-size: 15px 8px;
      background-repeat: repeat-x;
    }

    /* ALL stripe PUSH UP TRANSITION  */
    ul li.btn.striped-shadow:after, ul li.btn.striped-shadow:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      transition: max-height .3s, width .3s, -webkit-transform .3s;
      transition: transform .3s, max-height .3s, width .3s;
      transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
    }

    /* ON PUSH DOWN LIKED ITEM BOX  */
    .btn.striped-shadow:hover {
      -webkit-transform: translate(-12px, 12px);
      -ms-transform: translate(-12px, 12px);
      transform: translate(-12px, 12px);
      z-index: 3;
    }

    /* APPLIES BEFORE AND AFTER STATES  */
    ul li.btn.striped-shadow:hover:after, ul li.btn.striped-shadow:hover:before {
      -webkit-transform: translate(12px, -12px);
      -ms-transform: translate(12px, -12px);
      transform: translate(12px, -12px);
    }

    /* side  stripes olines */
    ul li.btn.striped-shadow:before {
      width: 8px;
      max-height: calc(100% - 5px);
      height: 100%;
      left: 0px;
      bottom: -14px;
      background-size: 8px 15px;
      background-repeat: repeat-y;
      background-position: 0 100%;
    }

    ul li a{
        overflow: visible;
        border: 0;
        padding: 0;
        margin: 1
    }

    /*** End Desktop Buttons ***/
}
